<div class="contextual">
  <%= link_to_csv_export(@timesheet) %>
  <%= permalink_to_timesheet(@timesheet) %>
</div>

<h2><%= l(:timesheet_title) %></h2>

<%= render :partial => 'form' %>

<%= call_hook(:plugin_timesheet_views_timesheets_report_before_time_entries, {:timesheet => @timesheet}) %>

<%= form_tag({}, {:id => 'time_entries'}) do -%>
    <% if @timesheet.time_entries.length > 0 %>

        <br>

        <h3><%= l(:label_spent_time) %>
          (<%= h(number_with_precision(@grand_total, :precision => @precision)) -%> <%= h(l(:field_hours)) -%>)</h3>

        <br>

        <% @timesheet.time_entries.each do |entryname, entry|

          case @timesheet.sort
            when :user %>
                <fieldset id="<%= (entry[:logs]).first.user_id %>">

                  <h3>
                    <%= toggle_user_detail_table("#{(entry[:logs]).first.user_id}") %>
                    <%= h entryname -%>
                    (<%= h number_with_precision(@total[entryname], :precision => @precision) %><%= h(l(:field_hours)) -%>
                    - <%= h(l(:field_cost)) -%>: <%= entry[:logs].first.user.custom_value_for(@cost_id) -%>
                    - <%= h(l(:cost_label)) %> <%= calculate_project_cost(entry[:logs]) %>))
                  </h3>

                  <table style="width: 100%">
                    <thead>
                    <tr style="text-align: center;background: #e4e4e4;">
                      <th style="padding-top: 5px; padding-bottom: 5px" ; colspan="4">Histórico Salarial</th>
                    </tr>
                    <tr style="background: #e4e4e4;">
                      <th>Data Alteração</th>
                      <th>Valor</th>
                      <th>Qtd Horas</th>
                      <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% UserCostLog.where(:user_id => (entry[:logs]).first.user_id).each do |user_cost| %>
                        <tr style="text-align: center;">
                          <td style="border-bottom: 1px solid #c0c0c0"><%= user_cost.created_at.strftime("%d/%m/%Y - %I:%M%p") %></td>
                          <td style="border-bottom: 1px solid #c0c0c0"><%= user_cost.cost %></td>
                          <td style="border-bottom: 1px solid #c0c0c0"><%= user_cost.qtd_horas %></td>
                          <td style="border-bottom: 1px solid #c0c0c0"><%= user_cost.total %></td>
                        </tr>
                    <% end %>

                    </tbody>
                    <tfoot>
                    <tr style="background-color: #c8cee4;">
                      <th style="padding-top: 5px; padding-bottom: 5px" ; colspan="4">
                        <p></p>
                      </th>
                    </tr>
                    </tfoot>
                  </table>

                  <%= render :partial => 'timesheet_group', :locals => {:entry => entry, :name => entryname, :total => @total[entryname], :user_id => (entry[:logs]).first.user_id, :display_table => 'none'} %>

                </fieldset>
                <br>

            <% when :issue %>
                <h3><%= h entryname -%>
                  (<%= h number_with_precision(@total[entryname], :precision => @precision) %> <%= h(l(:field_hours)) -%>
                  )</h3>
                <%= render :partial => 'by_issue', :locals => {:entry => entry, :name => entryname, :total => 0} %>

            <% when :group %>
                <h3><%= h entryname -%>
                  (<%= h number_with_precision(@total[entryname], :precision => @precision) %> <%= h(l(:field_hours)) -%>
                  )</h3>
                <%= render :partial => 'timesheet_group', :locals => {:entry => entry, :name => entryname, :total => @total[entryname]} %>

            <% when :date %>
                <% logger.debug "#{'*'*100}\n ENTRYNAME > #{entryname.to_yaml} ENTRY #{entry[:logs][0].id}\n#{'*'*100}" %>
                <h3><%= toggle_issue_arrows_date(entryname) %><%= h entryname -%>
                  (<%= h number_with_precision(@total[entryname], :precision => @precision) %> <%= h(l(:field_hours)) -%>
                  - <%= h(l(:cost_label)) %> <%= calculate_project_cost(entry[:logs]) %>)</h3>
                <span class="<%= cycle("odd", "even") %> issue-time-entry-<%= entryname -%>" style="display:none;">
                    <%= render :partial => 'timesheet_group', :locals => {:entry => entry, :name => entryname, :total => @total[entryname]} %>
                </span>

                <script type="text/javascript">
                    function toggleTimeEntriesdate(entryname) {
                        $('.issue-time-entry-' + entryname).each(function () {
                            $(this).toggle();
                        })
                        $('.toggle-' + entryname).each(function () {
                            $(this).toggle();
                        })
                    }
                </script>

            <% else %>

                <fieldset id="<%= (entry[:logs]).first.user_id %>">

                  <h3 onload="onpenAll()">
                    <%# toggle_user_detail_table("#{(entry[:logs]).first.user_id}") %>
                    <%= h entryname -%> (<%= h number_with_precision(@total[entryname], :precision => @precision) %> <%= h(l(:field_hours)) %>
                    - <%= h(l(:cost_label)) %> <%= calculate_project_cost(entry[:logs]) %>
                    ) <%= showing_users(entry[:users]) %>
                  </h3>

                  <%= render :partial => 'timesheet_group', :locals => {:entry => entry, :name => entryname, :total => @total[entryname], :user_id => (entry[:logs]).first.user_id, :display_table => ''} %>

                </fieldset>
                <br>

                <script type="text/javascript">
                    function openAll() {
                        alert('wou');
                    }
                </script>

            <% end
               end # each
               end # length
               end # form_tag
            -%>


<% content_for(:header_tags) do %>
    <%= javascript_include_tag 'context_menu' %>
    <%= stylesheet_link_tag 'context_menu' %>
    <%= stylesheet_link_tag 'timesheet.css', :plugin => 'redmine_timesheet_plugin', :media => 'all' %>
    <%= stylesheet_link_tag 'timesheet-print.css', :plugin => 'redmine_timesheet_plugin', :media => 'print' %>
    <%= javascript_include_tag 'timesheet.js', :plugin => 'redmine_timesheet_plugin' %>
    <%= call_hook(:plugin_timesheet_views_timesheets_report_header_tags, {:timesheet => @timesheet}) %>
<% end %>

<%= context_menu time_entries_context_menu_path %>

<%# TODO: Typo on hook %>
<%= call_hook(:plugin_timesheet_view_timesheets_report_bottom, {:timesheet => @timesheet}) %>
<%= call_hook(:plugin_timesheet_views_timesheets_report_bottom, {:timesheet => @timesheet}) %>
