<!--<br>-->

<table id="<%= user_id %>" class="list issues">

  <thead>
  <th width="2%">
    <%= link_to image_tag('toggle_check.png'), "javascript:;",
                :onclick => 'toggleIssuesSelection(".toggle-all"); return false;',
                :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", :class => 'toggle-all' %>
  </th>
  <th width="8%"><%= l(:label_date) %></th>
  <th width="10%"><%= l(:label_member) %></th>
  <th width="15%"><%= l(:label_activity) %></th>
  <th width="15%"><%= l(:label_project) %></th>
  <th width="10%"><%= l(:label_version) %></th>
  <th width="10%"><%= l(:label_issue) %></th>
  <th width="10%"><%= l(:field_hours) %></th>
  <th width="10%"><%= l(:field_cost) %></th>
  <th width="10%"><%= l(:cost_header_label) %></th>
  <%= call_hook(:plugin_timesheet_views_timesheet_group_header, {}) %>
  <th></th>
  </thead>

  <!--<tbody style="display: none;">-->
  <tbody class="tdetail" style="display: <%= display_table %>;">
    <%= render :partial => "time_entry", :collection => entry[:logs], :locals => {:time_entries => entry[:logs]} %>
  </tbody>

  <tfoot style="border-top: 1px solid white;">
      <th colspan="11">
        <!--<p>  Total de <%= number_with_precision(total, :precision => 2) %> <%= l(:field_hours) -%> - Custo Atual: <%= number_to_currency(entry[:logs].first.user.custom_value_for(@cost_id), precision: 2) %> </p>-->
      </th>
  </tfoot>

</table>

<script type="text/javascript">
    function toggleTimeEntriesdate(entryname) {
        $('.issue-time-entry-' + entryname).each(function () {
            $(this).toggle();
        })
        $('.toggle-' + entryname).each(function () {
            $(this).toggle();
        })
    }
    function toggleUserReportTable(user_id) {
        //  $("fieldset#" + user_id + "> table#" + user_id +" > tbody").toggle();
        var target = $(event.target).parent();
        var target_after = target.next().next();
        var target_find = target_after.find($('tbody'));
        target_find.toggle();

        console.log(target);
        console.log(target_after);
        console.log(target_find);
    }
</script>

<!--

(<%# h number_with_precision(@total[entryname], :precision => @precision) %>
<%# h(l(:field_hours)) -%>
- <%# h(l(:field_cost)) -%>: <%# entry[:logs].first.user.custom_value_for(@cost_id) -%>
- <%# h(l(:cost_label)) %> <%# calculate_project_cost(entry[:logs]) %>))

-->
